/config.json
/read_config.py
/test_baumeva.py
/test_baumeva_lib.py
/testing_pygad.py
/testing_functions.py
/venv
/dist/
/baumeva.egg-info/
baumeva/ga/selections/__pycache__/base_selection.cpython-39.pyc
