/config.json
/read_config.py
/test_baumeva.py
/test_baumeva_lib.py
/testing_pygad.py
/testing_functions.py
/test_new_features.py
/validation.py
/venv
/.venv
/dist/
/baumeva.egg-info/
*.pyc
.DS_Store
__pycache__*